/* resoluções mais comuns em dispositivos, notebook, tablets e celulares 
1920 × 1080 
768 x 1024
360 × 640
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background-color: #0b1f26;
}

body p{
    color: #d1e8e6;
}

body h1, h2, h3, h4 {
    color: #4dd0e1;
}

.menu {
    display: flex;
    background-color: #143944;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    color: white;
    border-bottom: #2de1c2 2px solid; /* Borda escura sólida ao redor do header */
    justify-content: space-between;
    align-items: center;
}

.menu nav {
    display: flex;
    gap: 15px;
    text-align: center;
    
}

.menu a{
    text-align: center;
    padding-right: 20px;
    color: #2de1c2;
    text-decoration: none;
    display: inline-block;
    transition: color 0.5s ease, opacity 0.5s ease;
    padding: 5px;
}

.menu a:hover {
    background-color: #20bfa6 ;
    border-radius: 2px;
    font-size: 20px;
    transition:  0.5s ease;
    color: #2de1c2;
    opacity: 0.95;
}

main {
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #102a33;
    margin-top: 45px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 45px;
    border: 2px solid #2de1c2;  /* Borda escura sólida ao redor do main */
    border-radius: 3px;
    padding: 10px;
}

.evolucao {
    background-color: #143944;
}

.container-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imagem1 {
    width: 30%;
    height: 300px;
    margin: 0px;
    border: 3px solid #004f5b;
    border-radius: 3px;
}

.imagem1:hover {
    transform: scale(1.15);
    transition: 0.5s ease;
}

.imagem2 {
    width: 30%;
    height: auto;
    display: block;
    margin: 0px;
    border: 3px solid #004f5b;
    border-radius: 3px;
}

.imagem2:hover {
    transform: scale(1.15);
    transition: 0.5s ease;
}

@media (max-width: 768px) {
    .imagem2 {
        width: 80%;
        height: auto;
        padding: 10px;
    }
}

td {
    text-align: center;
    padding: 2px 10px;
    color: #35909c;
}

.container-tabela
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #4dd0e1;
}

.tabela1 {
    border-collapse: collapse; /* Remove espaços entre as bordas das células */
    padding: 5px;
    width: 50%;
}
.tabela1 th, .tabela1 td {
    border: 2px solid #2de1c2;
    padding: 5px;
}
.titulo-tabela {
    text-align: center;
    margin-top: 20px;
}